* {
    text-align: center;
    font-family: Verdana;
    background-color: black;
}


header h1 {
    font-weight: normal;
    font-size: 50px;
    color:white;
}

main h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

main p {
    color: gray;
    font-size: 21px;
}

.underline {
    color: aquamarine;
    font-size: 16px;
}

.rightFooter {
    text-align: right;
    font-size: 16px;
    color: gray;
}